@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito';
}




/*

- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy

*/